<% @songs.each do |song| %>
  <div class="song">
  <h3>Title: <a href="songs/<%= song.id %>"><%= song.title %><small></a> (artist: <%= song.author %>)</small></h3>
  </div>
<% end %>

<a href="/songs/new">Post a new song!</a>